@page "/loanProducts/create"
@rendermode InteractiveServer

@using Application.DTO
@using System.ComponentModel.DataAnnotations
@using Application.Interfaces
@using Domain.Entities
@using Application.Services.LoanProducts
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject NavigationManager Navigation
@inject ILoanProductService LoanProductService

<PageTitle>Create LoanProduct</PageTitle>

<div class="container">
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3>Create LoanProduct</h3>
            <a href="/loanproducts" class="btn btn-outline-secondary btn-sm">Back to List</a>
    </div>

       <div class="card">
                    <div class="card-body">
                        <EditForm Model="Model" OnValidSubmit="onValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary class="alert alert-danger py-2 mb-3" />

                        <MudStack Spacing="2">
                            <MudTextField Label="Product Name" @bind-Value="Model.ProductName" For="@(() => Model.ProductName)" />
                            @* <MudTextField Label="Interest Rate" @bind-Value="Model.InterestRate" For="@(() => Model.InterestRate)" /> *@
                            <MudTextField Label="Description" @bind-Value="Model.Description" For="@(() => Model.Description)" AutoGrow MaxLength="250" Counter="250" Immediate="true" />
                            
                            
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Add Loan Product</MudButton>
                        </MudStack>
                       </EditForm>
                    </div>
        </div>
    </div>
</div>
</div>
@code {
    
    private LoanProductCreateDTO Model {get;set;} = new ();
    
    private void onValidSubmit()
    {
        LoanProductService.CreateLoanProductAsync(Model);
        Navigation.NavigateTo("/loanproducts");
    }
}
